body {
    margin: 0px
}

* {
    font-family: 'Solway', serif;
    box-sizing: border-box;
}

#background {
    width: 100vw;
    height: 100vh;
    background: rgb(251, 251, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container_background {
    width: 575px;
    height: 575px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    box-shadow: 0px 1px 35px 0.10px rgba(121, 121, 121, 0.250);
    -webkit-box-shadow: 0px 1px 35px 0.10px rgba(121, 121, 121, 0.250);
    -moz-box-shadow: 0px 1px 35px 0.10px rgba(121, 121, 121, 0.250);
    position: fixed;
    top: 7%;
}

.container_text {
    font-size: 1.3em;
    text-align: center;
    padding: 1% 4%;
}

h1 {
    font-size: 1.3em;
    margin: 0%;
}

h2 {
    font-size: 1em;
}

span {
    margin: 2.5%;
}

strong {
    color: rgb(0, 190, 0);
}

button {
    width: 31%;
    height: 8%;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #ffc66c;
    padding: 0%;
    font-size: 1em;
    transition: all 0.4s ease 0s;
    text-align: center;
    box-shadow: 0px 0px 20px 4px #d4d4d4;
}

button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}